apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wavefront-hpa-adapter.fullname" . }}
  labels:
{{ include "wavefront-hpa-adapter.labels" . | indent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "wavefront-hpa-adapter.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "wavefront-hpa-adapter.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "wavefront-hpa-adapter.fullname" . }}
      containers:
      - name: custom-metrics-apiserver
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
      {{- if .Values.wavefront.secret }}
        env:
        - name: WAVEFRONT_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Values.wavefront.secret.name }}
              key: {{ .Values.wavefront.secret.key }}
      {{- end }}
        args:
        - "/wavefront-adapter"
        - "--wavefront-url={{ required "You must configure a valid URL" .Values.wavefront.url }}"
      {{- if .Values.wavefront.token }}
        - "--wavefront-token={{ required "You must configure a valid Token" .Values.wavefront.token }}"
      {{- else }}
        - "--wavefront-token=${WAVEFRONT_TOKEN}"
      {{- end }}
        - "--wavefront-metric-prefix={{ .Values.adapter.metricPrefix }}"
        - "--metrics-relist-interval={{ .Values.adapter.metricRelistInterval }}"
        - "--api-client-timeout={{ .Values.adapter.apiClientTimeout }}"
        - "--cert-dir=/etc/ssl/certs"
        - "--secure-port=6443"
      {{- if .Values.adapter.rules }}
        - "--external-metrics-config=/etc/adapter/config.yaml"
      {{- end }}
        - "--logtostderr=true"
        - "--log-level={{ .Values.adapter.logLevel }}"
        ports:
        - containerPort: 6443
        volumeMounts:
        - mountPath: /tmp
          name: temp-vol
      {{- if .Values.adapter.rules }}
        - mountPath: /etc/adapter/
          name: config
          readOnly: true
      {{- end }}
      {{- with .Values.resources }}
        resources:
        {{- toYaml . | trim | nindent 10 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | trim | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | trim | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | trim | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ toYaml . | trim }}
      {{- end }}
      volumes:
      - name: temp-vol
        emptyDir: {}
    {{- if .Values.adapter.rules }}
      - name: config
        configMap:
          name: {{ include "wavefront-hpa-adapter.fullname" . }}
    {{- end }}
